atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
bleach==2.1.4
bottle==0.12.15
certifi==2018.11.29
chardet==3.0.4
click==5.1
colorama==0.4.1
coloredlogs==10.0
Cython==0.29.2
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
html5lib==1.0.1
humanfriendly==4.16.1
idna==2.8
ipykernel==4.9.0
ipython
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.12.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
mistune==2.0.3
more-itertools==4.3.0
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.15.2
pandocfilters==1.4.2
parso==0.3.1
pathlib2==2.3.3
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pluggy==0.7.1
pluginlib==0.6.1
prometheus-client==0.3.1
prompt-toolkit==2.0.4
ptyprocess==0.6.0
py==1.6.0
Pygments==2.2.0
pyserial==3.4
pytest==3.8.1
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.21.0
scipy==1.1.0
semantic-version==2.6.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
stevedore==1.30.0
terminado==0.8.1
testpath==0.3.1
traitlets==4.3.2
urllib3==1.24.2
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
zmq==0.0.0
