atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
catkin==0.7.14
coloredlogs==10.0
controller-manager==0.13.3
controller-manager-msgs==0.13.3
decorator==4.3.0
dynamic-reconfigure==1.5.49
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
humanfriendly==4.16.1
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.12.1
more-itertools==4.3.0
numpy==1.15.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pluggy==0.7.1
pluginlib==1.11.3
prompt-toolkit==2.0.4
ptyprocess==0.6.0
py==1.6.0
Pygments==2.2.0
pytest==3.8.1
pyzmq==17.1.2
rosbag==1.12.14
rosgraph==1.12.14
roslib==1.14.4
roslz4==1.12.14
rosmsg==1.12.14
rospy==1.12.14
rosservice==1.12.14
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
topic-tools==1.12.14
traitlets==4.3.2
-e git+git@gitlab.blacksheep.ai:gabriel/TechnoTrieuse.git@d4f87a6f1d57111cd4973274a2dbb9985c2f970f#egg=Trieuse
wcwidth==0.1.7
zmq==0.0.0
